'.source.yaml':
  'applicationoutput-kinesisstreamsoutput':
      'prefix': 'applicationoutput-kinesisstreamsoutput'
      'body':"""
         ResourceARN: ${2:String}     # required
         RoleARN: ${3:String}     # required
"""