'.source.yaml':
  'applicationreferencedatasource':
      'prefix': 'applicationreferencedatasource'
      'body':"""
         ${1:applicationreferencedatasource_name}:
         	Type: AWS::KinesisAnalytics::ApplicationReferenceDataSource
         	Properties:
         		ApplicationName: ${2:String}     # required
         		ReferenceDataSource: ${3:ReferenceDataSource}     # required
"""