'.source.yaml':
  'authorizationconfig':
      'prefix': 'authorizationconfig'
      'body':"""
         AuthorizationType: ${2:String}     # required
         AwsIamConfig: ${3:AwsIamConfig}     # optional
"""