'.source.yaml':
  'autoscalinggroup':
      'prefix': 'autoscalinggroup'
      'body':"""
         ${1:autoscalinggroup_name}:
         	Type: AWS::AutoScaling::AutoScalingGroup
         	Properties:
         		AutoScalingGroupName: ${2:String}     # optional
         		AvailabilityZones:                # optional, list of String
         			- ${3:String}
         		Cooldown: ${4:String}     # optional
         		DesiredCapacity: ${5:String}     # optional
         		HealthCheckGracePeriod: ${6:Integer}     # optional
         		HealthCheckType: ${7:String}     # optional
         		InstanceId: ${8:String}     # optional
         		LaunchConfigurationName: ${9:String}     # optional
         		LifecycleHookSpecificationList:                # optional, list of LifecycleHookSpecification
         			- ${10:LifecycleHookSpecification}
         		LoadBalancerNames:                # optional, list of String
         			- ${11:String}
         		MaxSize: ${12:String}     # required
         		MetricsCollection:                # optional, list of MetricsCollection
         			- ${13:MetricsCollection}
         		MinSize: ${14:String}     # required
         		NotificationConfigurations:                # optional, list of NotificationConfiguration
         			- ${15:NotificationConfiguration}
         		PlacementGroup: ${16:String}     # optional
         		ServiceLinkedRoleARN: ${17:String}     # optional
         		Tags:                # optional, list of TagProperty
         			- ${18:TagProperty}
         		TargetGroupARNs:                # optional, list of String
         			- ${19:String}
         		TerminationPolicies:                # optional, list of String
         			- ${20:String}
         		VPCZoneIdentifier:                # optional, list of String
         			- ${21:String}
"""