'.source.yaml':
  'autoscalinggroup':
      'prefix': 'autoscalinggroup'
      'body':"""
         ${1:autoscalinggroup_name}:
         	Type: AWS::AutoScaling::AutoScalingGroup
         	Properties:
         		AutoScalingGroupName: ${2:String}     # optional
         		AvailabilityZones:                # optional, list of String
         			- ${3:String}
         		Cooldown: ${4:String}     # optional
         		DesiredCapacity: ${5:String}     # optional
         		HealthCheckGracePeriod: ${6:Integer}     # optional
         		HealthCheckType: ${7:String}     # optional
         		InstanceId: ${8:String}     # optional
         		LaunchConfigurationName: ${9:String}     # optional
         		LaunchTemplate: ${10:LaunchTemplateSpecification}     # optional
         		LifecycleHookSpecificationList:                # optional, list of LifecycleHookSpecification
         			- ${11:LifecycleHookSpecification}
         		LoadBalancerNames:                # optional, list of String
         			- ${12:String}
         		MaxInstanceLifetime: ${13:Integer}     # optional
         		MaxSize: ${14:String}     # required
         		MetricsCollection:                # optional, list of MetricsCollection
         			- ${15:MetricsCollection}
         		MinSize: ${16:String}     # required
         		MixedInstancesPolicy: ${17:MixedInstancesPolicy}     # optional
         		NotificationConfigurations:                # optional, list of NotificationConfiguration
         			- ${18:NotificationConfiguration}
         		PlacementGroup: ${19:String}     # optional
         		ServiceLinkedRoleARN: ${20:String}     # optional
         		Tags:                # optional, list of TagProperty
         			- ${21:TagProperty}
         		TargetGroupARNs:                # optional, list of String
         			- ${22:String}
         		TerminationPolicies:                # optional, list of String
         			- ${23:String}
         		VPCZoneIdentifier:                # optional, list of String
         			- ${24:String}
"""