'.source.yaml':
  'campaign-campaignhook':
      'prefix': 'campaign-campaignhook'
      'body':"""
         LambdaFunctionName: ${2:String}     # optional
         Mode: ${3:String}     # optional
         WebUrl: ${4:String}     # optional
"""