'.source.yaml':
  'campaign-attributedimension':
      'prefix': 'campaign-attributedimension'
      'body':"""
         AttributeType: ${2:String}     # optional
         Values:                # optional, list of String
         	- ${3:String}
"""