'.source.yaml':
  'capacityreservationspecification':
      'prefix': 'capacityreservationspecification'
      'body':"""
         CapacityReservationPreference: ${2:String}     # optional
         CapacityReservationTarget: ${3:CapacityReservationTarget}     # optional
"""