'.source.yaml':
  'channel':
      'prefix': 'channel'
      'body':"""
         ChannelName: ${2:String}     # optional
         Name: ${3:String}     # optional
         Next: ${4:String}     # optional
"""