'.source.yaml':
  'classicloadbalancersconfig':
      'prefix': 'classicloadbalancersconfig'
      'body':"""
         ClassicLoadBalancers:                # required, list of ClassicLoadBalancer
         	- ${2:ClassicLoadBalancer}
"""