'.source.yaml':
  'cloudformation-customresource':
    'prefix': 'cloudformation-customresource'
    'body': """
	${1:resource}:
		Type: AWS::CloudFormation::CustomResource
		Version: 1.0
		Properties:
			ServiceToken: ${2:token}
    """
