'.source.yaml':
  'cloudwatch-alarm':
    'prefix': 'cloudwatch-alarm'
    'body': """
${1:alarm}:
	Type: AWS::CloudWatch::Alarm
	Properties:
		MetricName: ${2:name}
		Namespace: ${3:namespace}
		ComparisonOperator: ${4:operator}
		EvaluationPeriods: ${5:periods}
		Period: ${6:period}
		Statistic: ${7:statistic}
		Threshold: ${8:threshold}
		ActionsEnabled: ${9:true}
		AlarmActions:
			- ${10:action}
		AlarmDescription: ${11:description}
		AlarmName: ${12:name}
		Dimensions:
			- ${13:dimension}
		InsufficientDataActions:
			- ${14:action}
		OKActions:
			- ${15:action}
		Unit: ${16:unit}
    """
