'.source.yaml':
  'cloudformation stack':
    'prefix': 'cloudformation-stack'
    'body': """
	${1:stack_name}:
		Type: "AWS::CloudFormation::Stack"
		Properties:
			TemplateURL: ${2:template_url}
			Tags:
				- ${3:tag}
    """
