'.source.yaml':
  'cloudformation-authentication':
    'prefix': 'cloudformation-authentication'
    'body': """
AWS::CloudFormation::Authentication:
	${1:name}:
		accessKeyId: ${2:refAccessKey}
		buckets:
			- ${3:bucket}
		password: ${4:password}
		secretKey: ${5:key}
		type: ${6:type}
		uris:
			- ${7:uri}
		username: ${8:user}
		roleName: ${9:role}
    """
