'.source.yaml':
  'clusterparametergroup':
      'prefix': 'clusterparametergroup'
      'body':"""
          ${1:clusterparametergroup_name}:
              Type: "AWS::Redshift::ClusterParameterGroup"
              Properties:
                  Description: ${2:String}     # required
                  ParameterGroupFamily: ${3:String}     # required
                  Parameters:                # optional, list of Parameter
                      - ${4:Parameter}
"""