'.source.yaml':
  'cluster-ebsblockdeviceconfig':
      'prefix': 'cluster-ebsblockdeviceconfig'
      'body':"""
         VolumeSpecification: ${2:VolumeSpecification}     # required
         VolumesPerInstance: ${3:Integer}     # optional
"""