'.source.yaml':
  'codedeploy-application':
      'prefix': 'codedeploy-application'
      'body':"""
         ${1:codedeploy-application_name}:
         	Type: AWS::CodeDeploy::Application
         	Properties:
         		ApplicationName: ${2:String}     # optional
         		ComputePlatform: ${3:String}     # optional
"""