'.source.yaml':
  'configurationseteventdestination-kinesisfirehosedestination':
      'prefix': 'configurationseteventdestination-kinesisfirehosedestination'
      'body':"""
         DeliveryStreamARN: ${2:String}     # required
         IAMRoleARN: ${3:String}     # required
"""