'.source.yaml':
  'configurationset':
      'prefix': 'configurationset'
      'body':"""
         ${1:configurationset_name}:
         	Type: AWS::SES::ConfigurationSet
         	Properties:
         		Name: ${2:String}     # optional
"""