'.source.yaml':
  'configurationseteventdestination-cloudwatchdestination':
      'prefix': 'configurationseteventdestination-cloudwatchdestination'
      'body':"""
         DimensionConfigurations:                # optional, list of DimensionConfiguration
         	- ${2:DimensionConfiguration}
"""