'.source.yaml':
  'containerdefinition':
      'prefix': 'containerdefinition'
      'body':"""
         Command:                # optional, list of String
         	- ${2:String}
         Cpu: ${3:Integer}     # optional
         DisableNetworking: ${4:Boolean}     # optional
         DnsSearchDomains:                # optional, list of String
         	- ${5:String}
         DnsServers:                # optional, list of String
         	- ${6:String}
         DockerLabels:                # optional, map of String
         	${7:String_key}: ${8:String_value}
         DockerSecurityOptions:                # optional, list of String
         	- ${9:String}
         EntryPoint:                # optional, list of String
         	- ${10:String}
         Environment:                # optional, list of KeyValuePair
         	- ${11:KeyValuePair}
         Essential: ${12:Boolean}     # optional
         ExtraHosts:                # optional, list of HostEntry
         	- ${13:HostEntry}
         Hostname: ${14:String}     # optional
         Image: ${15:String}     # optional
         Links:                # optional, list of String
         	- ${16:String}
         LogConfiguration: ${17:LogConfiguration}     # optional
         Memory: ${18:Integer}     # optional
         MemoryReservation: ${19:Integer}     # optional
         MountPoints:                # optional, list of MountPoint
         	- ${20:MountPoint}
         Name: ${21:String}     # optional
         PortMappings:                # optional, list of PortMapping
         	- ${22:PortMapping}
         Privileged: ${23:Boolean}     # optional
         ReadonlyRootFilesystem: ${24:Boolean}     # optional
         Ulimits:                # optional, list of Ulimit
         	- ${25:Ulimit}
         User: ${26:String}     # optional
         VolumesFrom:                # optional, list of VolumeFrom
         	- ${27:VolumeFrom}
         WorkingDirectory: ${28:String}     # optional
"""