'.source.yaml':
  'coredefinition':
      'prefix': 'coredefinition'
      'body':"""
         ${1:coredefinition_name}:
         	Type: AWS::Greengrass::CoreDefinition
         	Properties:
         		InitialVersion: ${2:CoreDefinitionVersion}     # optional
         		Name: ${3:String}     # required
         		Tags: ${4:Json}     # optional
"""