'.source.yaml':
  'datasource':
      'prefix': 'datasource'
      'body':"""
         ${1:datasource_name}:
         	Type: AWS::AppSync::DataSource
         	Properties:
         		ApiId: ${2:String}     # required
         		Description: ${3:String}     # optional
         		DynamoDBConfig: ${4:DynamoDBConfig}     # optional
         		ElasticsearchConfig: ${5:ElasticsearchConfig}     # optional
         		LambdaConfig: ${6:LambdaConfig}     # optional
         		Name: ${7:String}     # required
         		ServiceRoleArn: ${8:String}     # optional
         		Type: ${9:String}     # required
"""