'.source.yaml':
  'datapipeline-pipeline':
      'prefix': 'datapipeline-pipeline'
      'body':"""
          ${1:datapipeline-pipeline_name}:
              Type: "AWS::DataPipeline::Pipeline"
              Properties:
                  Activate: ${2:Boolean}     # optional
                  Description: ${3:String}     # optional
                  Name: ${4:String}     # required
                  ParameterObjects:                # required, list of ParameterObject
                      - ${5:ParameterObject}
                  ParameterValues:                # optional, list of ParameterValue
                      - ${6:ParameterValue}
                  PipelineObjects:                # optional, list of PipelineObject
                      - ${7:PipelineObject}
                  PipelineTags:                # optional, list of PipelineTag
                      - ${8:PipelineTag}
"""