'.source.yaml':
  'dax-cluster':
      'prefix': 'dax-cluster'
      'body':"""
         ${1:dax-cluster_name}:
         	Type: AWS::DAX::Cluster
         	Properties:
         		AvailabilityZones:                # optional, list of String
         			- ${2:String}
         		ClusterName: ${3:String}     # optional
         		Description: ${4:String}     # optional
         		IAMRoleARN: ${5:String}     # required
         		NodeType: ${6:String}     # required
         		NotificationTopicARN: ${7:String}     # optional
         		ParameterGroupName: ${8:String}     # optional
         		PreferredMaintenanceWindow: ${9:String}     # optional
         		ReplicationFactor: ${10:Integer}     # required
         		SSESpecification: ${11:SSESpecification}     # optional
         		SecurityGroupIds:                # optional, list of String
         			- ${12:String}
         		SubnetGroupName: ${13:String}     # optional
         		Tags: ${14:Json}     # optional
"""