'.source.yaml':
  'dbcluster':
      'prefix': 'dbcluster'
      'body':"""
         ${1:dbcluster_name}:
         	Type: AWS::RDS::DBCluster
         	Properties:
         		AvailabilityZones: ${2:String}     # optional
         		BackupRetentionPeriod: ${3:Integer}     # optional
         		DBClusterParameterGroupName: ${4:String}     # optional
         		DBSubnetGroupName: ${5:String}     # optional
         		DatabaseName: ${6:String}     # optional
         		Engine: ${7:String}     # required
         		EngineVersion: ${8:String}     # optional
         		KmsKeyId: ${9:String}     # optional
         		MasterUserPassword: ${10:String}     # optional
         		MasterUsername: ${11:String}     # optional
         		Port: ${12:Integer}     # optional
         		PreferredBackupWindow: ${13:String}     # optional
         		PreferredMaintenanceWindow: ${14:String}     # optional
         		SnapshotIdentifier: ${15:String}     # optional
         		StorageEncrypted: ${16:Boolean}     # optional
         		Tags:                # optional, list of Tag
         			- ${17:Tag}
         		VpcSecurityGroupIds:                # optional, list of String
         			- ${18:String}
"""