'.source.yaml':
  'defaultcachebehavior':
      'prefix': 'defaultcachebehavior'
      'body':"""
         AllowedMethods:                # optional, list of String
         	- ${2:String}
         CachedMethods:                # optional, list of String
         	- ${3:String}
         Compress: ${4:Boolean}     # optional
         DefaultTTL: ${5:Double}     # optional
         ForwardedValues: ${6:ForwardedValues}     # required
         LambdaFunctionAssociations:                # optional, list of LambdaFunctionAssociation
         	- ${7:LambdaFunctionAssociation}
         MaxTTL: ${8:Double}     # optional
         MinTTL: ${9:Double}     # optional
         SmoothStreaming: ${10:Boolean}     # optional
         TargetOriginId: ${11:String}     # required
         TrustedSigners:                # optional, list of String
         	- ${12:String}
         ViewerProtocolPolicy: ${13:String}     # required
"""