'.source.yaml':
  'defaultcachebehavior':
      'prefix': 'defaultcachebehavior'
      'body':"""
         AllowedMethods:                # optional, list of String
         	- ${2:String}
         CachedMethods:                # optional, list of String
         	- ${3:String}
         Compress: ${4:Boolean}     # optional
         DefaultTTL: ${5:Double}     # optional
         FieldLevelEncryptionId: ${6:String}     # optional
         ForwardedValues: ${7:ForwardedValues}     # required
         LambdaFunctionAssociations:                # optional, list of LambdaFunctionAssociation
         	- ${8:LambdaFunctionAssociation}
         MaxTTL: ${9:Double}     # optional
         MinTTL: ${10:Double}     # optional
         SmoothStreaming: ${11:Boolean}     # optional
         TargetOriginId: ${12:String}     # required
         TrustedSigners:                # optional, list of String
         	- ${13:String}
         ViewerProtocolPolicy: ${14:String}     # required
"""