'.source.yaml':
  'deliverystream':
      'prefix': 'deliverystream'
      'body':"""
         ${1:deliverystream_name}:
         	Type: "AWS::KinesisFirehose::DeliveryStream"
         	Properties:
         		DeliveryStreamName: ${2:String}     # optional
         		ElasticsearchDestinationConfiguration: ${3:ElasticsearchDestinationConfiguration}     # optional
         		RedshiftDestinationConfiguration: ${4:RedshiftDestinationConfiguration}     # optional
         		S3DestinationConfiguration: ${5:S3DestinationConfiguration}     # optional
"""