'.source.yaml':
  'deliverystream':
      'prefix': 'deliverystream'
      'body':"""
         ${1:deliverystream_name}:
         	Type: AWS::KinesisFirehose::DeliveryStream
         	Properties:
         		DeliveryStreamName: ${2:String}     # optional
         		ElasticsearchDestinationConfiguration: ${3:ElasticsearchDestinationConfiguration}     # optional
         		ExtendedS3DestinationConfiguration: ${4:ExtendedS3DestinationConfiguration}     # optional
         		RedshiftDestinationConfiguration: ${5:RedshiftDestinationConfiguration}     # optional
         		S3DestinationConfiguration: ${6:S3DestinationConfiguration}     # optional
"""