'.source.yaml':
  'deploymentgroup-tagfilter':
      'prefix': 'deploymentgroup-tagfilter'
      'body':"""
         Key: ${2:String}     # optional
         Type: ${3:String}     # optional
         Value: ${4:String}     # optional
"""