'.source.yaml':
  'deployment-accesslogsetting':
      'prefix': 'deployment-accesslogsetting'
      'body':"""
         DestinationArn: ${2:String}     # optional
         Format: ${3:String}     # optional
"""