'.source.yaml':
  'domainname':
      'prefix': 'domainname'
      'body':"""
         ${1:domainname_name}:
         	Type: AWS::ApiGateway::DomainName
         	Properties:
         		CertificateArn: ${2:String}     # required
         		DomainName: ${3:String}     # required
"""