'.source.yaml':
  'dynamodbaction':
      'prefix': 'dynamodbaction'
      'body':"""
         HashKeyField: ${2:String}     # required
         HashKeyType: ${3:String}     # optional
         HashKeyValue: ${4:String}     # required
         PayloadField: ${5:String}     # optional
         RangeKeyField: ${6:String}     # optional
         RangeKeyType: ${7:String}     # optional
         RangeKeyValue: ${8:String}     # optional
         RoleArn: ${9:String}     # required
         TableName: ${10:String}     # required
"""