'.source.yaml':
  'ebsblockdevice':
      'prefix': 'ebsblockdevice'
      'body':"""
         DeleteOnTermination: ${2:Boolean}     # optional
         Iops: ${3:Integer}     # optional
         SnapshotId: ${4:String}     # optional
         VolumeSize: ${5:Integer}     # optional
         VolumeType: ${6:String}     # optional
"""