'.string .yaml':
  'block-device':
    'prefix': 'ec2-mountpoint'
    'body': """
DeviceName: ${1:/dev/sdm}
	  VolumeId: ${2:-}
"""

'.source.yaml':
  'block-device':
    'prefix': 'ec2-mountpoint-w-dash'
    'body': """
- DeviceName: ${1:/dev/sdm}
	  VolumeId: ${2:-}
"""
