'.source.yaml':
  'ec2-securitygroupingress':
      'prefix': 'ec2-securitygroupingress'
      'body':"""
         ${1:ec2-securitygroupingress_name}:
         	Type: AWS::EC2::SecurityGroupIngress
         	Properties:
         		CidrIp: ${2:String}     # optional
         		CidrIpv6: ${3:String}     # optional
         		Description: ${4:String}     # optional
         		FromPort: ${5:Integer}     # optional
         		GroupId: ${6:String}     # optional
         		GroupName: ${7:String}     # optional
         		IpProtocol: ${8:String}     # required
         		SourceSecurityGroupId: ${9:String}     # optional
         		SourceSecurityGroupName: ${10:String}     # optional
         		SourceSecurityGroupOwnerId: ${11:String}     # optional
         		ToPort: ${12:Integer}     # optional
"""