'.source.yaml':
  'ecr-repository':
      'prefix': 'ecr-repository'
      'body':"""
          ${1:ecr-repository_name}:
              Type: "AWS::ECR::Repository"
              Properties:
                  RepositoryName: ${2:String}     # optional
                  RepositoryPolicyText: ${3:Json}     # optional
"""