'.source.yaml':
  'elasticache-parametergroup':
    'prefix': 'elasticache-parametergroup'
    'body': """
${1:paramGroup}:
	Type: AWS::ElastiCache::ParameterGroup
	Properties:
		CacheParameterGroupFamily: ${2:family}
		Description: ${3:description}
		Properties:
			cas_disabled: ${4:1}
			${5:property}: ${6:value}
    """
