'.source.yaml':
  'elasticache-securitygroupingress':
    'prefix': 'elasticache-securitygroupingress'
    'body': """
${1:groupIngress}:
	Type: AWS::ElastiCache::SecurityGroupIngress
	Properties:
		CacheSecurityGroupName: ${2:groupName}
		EC2SecurityGroupName: ${3:groupName}
		EC2SecurityGroupOwnerId: ${4:ownerRef}
    """
