'.source.yaml':
  'emr-securityconfiguration':
      'prefix': 'emr-securityconfiguration'
      'body':"""
         ${1:emr-securityconfiguration_name}:
         	Type: AWS::EMR::SecurityConfiguration
         	Properties:
         		Name: ${2:String}     # optional
         		SecurityConfiguration: ${3:Json}     # required
"""