'.source.yaml':
  'encryptionconfig':
      'prefix': 'encryptionconfig'
      'body':"""
         Provider: ${2:Provider}     # optional
         Resources:                # optional, list of String
         	- ${3:String}
"""