'.source.yaml':
  'events-rule':
      'prefix': 'events-rule'
      'body':"""
         ${1:events-rule_name}:
         	Type: AWS::Events::Rule
         	Properties:
         		Description: ${2:String}     # optional
         		EventBusName: ${3:String}     # optional
         		EventPattern: ${4:Json}     # optional
         		Name: ${5:String}     # optional
         		RoleArn: ${6:String}     # optional
         		ScheduleExpression: ${7:String}     # optional
         		State: ${8:String}     # optional
         		Targets:                # optional, list of Target
         			- ${9:Target}
"""