'.source.yaml':
  'fleetlaunchtemplatespecification':
      'prefix': 'fleetlaunchtemplatespecification'
      'body':"""
         LaunchTemplateId: ${2:String}     # optional
         LaunchTemplateName: ${3:String}     # optional
         Version: ${4:String}     # required
"""