'.source.yaml':
  'functiondefinition-resourceaccesspolicy':
      'prefix': 'functiondefinition-resourceaccesspolicy'
      'body':"""
         Permission: ${2:String}     # optional
         ResourceId: ${3:String}     # required
"""