'.source.yaml':
  'function':
      'prefix': 'function'
      'body':"""
         ${1:function_name}:
         	Type: AWS::Lambda::Function
         	Properties:
         		Code: ${2:Code}     # required
         		DeadLetterConfig: ${3:DeadLetterConfig}     # optional
         		Description: ${4:String}     # optional
         		Environment: ${5:Environment}     # optional
         		FunctionName: ${6:String}     # optional
         		Handler: ${7:String}     # required
         		KmsKeyArn: ${8:String}     # optional
         		Layers:                # optional, list of String
         			- ${9:String}
         		MemorySize: ${10:Integer}     # optional
         		ReservedConcurrentExecutions: ${11:Integer}     # optional
         		Role: ${12:String}     # required
         		Runtime: ${13:String}     # required
         		Tags:                # optional, list of Tag
         			- ${14:Tag}
         		Timeout: ${15:Integer}     # optional
         		TracingConfig: ${16:TracingConfig}     # optional
         		VpcConfig: ${17:VpcConfig}     # optional
"""