'.source.yaml':
  'functiondefinitionversion-function':
      'prefix': 'functiondefinitionversion-function'
      'body':"""
         FunctionArn: ${2:String}     # required
         FunctionConfiguration: ${3:FunctionConfiguration}     # required
         Id: ${4:String}     # required
"""