'.source.yaml':
  'githubrepository-s3':
      'prefix': 'githubrepository-s3'
      'body':"""
         Bucket: ${2:String}     # required
         Key: ${3:String}     # required
         ObjectVersion: ${4:String}     # optional
"""