'.source.yaml':
  'iam-role':
    'prefix': 'iam-role'
    'body': """
${1:role}:
	Type: AWS::IAM::Role
	Properties:
		AssumeRolePolicyDocument: ${2:policy}
		Path: ${3:/}
		Policies:
			- ${4:policyRef}
    """
