'.source.yaml':
  'iam-policy':
    'prefix': 'iam-policy'
    'body': """
${1:policy}:
	Type: AWS::IAM::Policy
	Properties:
		Groups:
			- ${2:groupRef}
		PolicyDocument: ${3:policyRef}
		PolicyName: ${4:name}
		Roles:
			- ${5:roleRef}
		Users:
			- ${6:userRef}
    """
