'.source.yaml':
  'iam-instanceprofile':
    'prefix': 'iam-instanceprofile'
    'body': """
${1:profile}:
	Type: AWS::IAM::InstanceProfile
	Properties:
		Path: ${2:/}
		Roles:
			- ${3:roleRef}
    """
