'.source.yaml':
  'iam-usertogroupaddition':
    'prefix': 'iam-usertogroupaddition'
    'body': """
${1:userToGroup}:
	Type: AWS::IAMUserToGroupAddition
	Properties:
		GroupName: ${2:groupName}
		Users:
			- ${3:userRef}
    """
