'.source.yaml':
  'input':
      'prefix': 'input'
      'body':"""
         InputParallelism: ${2:InputParallelism}     # optional
         InputSchema: ${3:InputSchema}     # required
         KinesisFirehoseInput: ${4:KinesisFirehoseInput}     # optional
         KinesisStreamsInput: ${5:KinesisStreamsInput}     # optional
         NamePrefix: ${6:String}     # required
"""