'.source.yaml':
  'instancefleetconfig-ebsblockdeviceconfig':
      'prefix': 'instancefleetconfig-ebsblockdeviceconfig'
      'body':"""
         VolumeSpecification: ${2:VolumeSpecification}     # required
         VolumesPerInstance: ${3:Integer}     # optional
"""