'.source.yaml':
  'instancefleetconfig-instancefleetprovisioningspecifications':
      'prefix': 'instancefleetconfig-instancefleetprovisioningspecifications'
      'body':"""
         SpotSpecification: ${2:SpotProvisioningSpecification}     # required
"""