'.source.yaml':
  'instancegroupconfig-scalingaction':
      'prefix': 'instancegroupconfig-scalingaction'
      'body':"""
         Market: ${2:String}     # optional
         SimpleScalingPolicyConfiguration: ${3:SimpleScalingPolicyConfiguration}     # required
"""