'.source.yaml':
  'instancegroupconfig':
      'prefix': 'instancegroupconfig'
      'body':"""
         ${1:instancegroupconfig_name}:
         	Type: "AWS::EMR::InstanceGroupConfig"
         	Properties:
         		BidPrice: ${2:String}     # optional
         		Configurations:                # optional, list of Configuration
         			- ${3:Configuration}
         		EbsConfiguration: ${4:EbsConfiguration}     # optional
         		InstanceCount: ${5:Integer}     # required
         		InstanceRole: ${6:String}     # required
         		InstanceType: ${7:String}     # required
         		JobFlowId: ${8:String}     # required
         		Market: ${9:String}     # optional
         		Name: ${10:String}     # optional
"""