'.source.yaml':
  'instancegroupconfig':
      'prefix': 'instancegroupconfig'
      'body':"""
         ${1:instancegroupconfig_name}:
         	Type: AWS::EMR::InstanceGroupConfig
         	Properties:
         		AutoScalingPolicy: ${2:AutoScalingPolicy}     # optional
         		BidPrice: ${3:String}     # optional
         		Configurations:                # optional, list of Configuration
         			- ${4:Configuration}
         		EbsConfiguration: ${5:EbsConfiguration}     # optional
         		InstanceCount: ${6:Integer}     # required
         		InstanceRole: ${7:String}     # required
         		InstanceType: ${8:String}     # required
         		JobFlowId: ${9:String}     # required
         		Market: ${10:String}     # optional
         		Name: ${11:String}     # optional
"""