'.source.yaml':
  'iotsitewise':
      'prefix': 'iotsitewise'
      'body':"""
         AssetId: ${2:String}     # optional
         EntryId: ${3:String}     # optional
         PropertyAlias: ${4:String}     # optional
         PropertyId: ${5:String}     # optional
         PropertyValue: ${6:AssetPropertyValue}     # optional
"""