'.source.yaml':
  'jobflowinstancesconfig':
      'prefix': 'jobflowinstancesconfig'
      'body':"""
         AdditionalMasterSecurityGroups:                # optional, list of String
         	- ${2:String}
         AdditionalSlaveSecurityGroups:                # optional, list of String
         	- ${3:String}
         CoreInstanceGroup: ${4:InstanceGroupConfig}     # required
         Ec2KeyName: ${5:String}     # optional
         Ec2SubnetId: ${6:String}     # optional
         EmrManagedMasterSecurityGroup: ${7:String}     # optional
         EmrManagedSlaveSecurityGroup: ${8:String}     # optional
         HadoopVersion: ${9:String}     # optional
         MasterInstanceGroup: ${10:InstanceGroupConfig}     # required
         Placement: ${11:PlacementType}     # optional
         ServiceAccessSecurityGroup: ${12:String}     # optional
         TerminationProtected: ${13:Boolean}     # optional
"""