'.source.yaml':
  'kinesisanalyticsv2-application-inputlambdaprocessor':
      'prefix': 'kinesisanalyticsv2-application-inputlambdaprocessor'
      'body':"""
         ResourceARN: ${2:String}     # required
"""