'.source.yaml':
  'launch-config':
    'prefix': 'launch-config'
    'body': """
${1:config}:
	Type: AWS::AutoScaling::LaunchConfiguration
	Properties:
		AssociatePublicIpAddress: ${2:false}
		BlockDeviceMappings:
			- ${3:mapping}
		EbsOptimized: ${4:false}
		IamInstanceProfile: ${5:profile}
		ImageId: ${6:ami}
		InstanceMonitoring: ${4:true}
		InstanceType: ${5:type}
		KeyName: ${6:key}
		SecurityGroups:
			- ${7:groupRef}
		UserData:
			Fn::Base64: |
				#!/bin/sh
    """
