'.source.yaml':
  'launchtemplate-blockdevicemapping':
      'prefix': 'launchtemplate-blockdevicemapping'
      'body':"""
         DeviceName: ${2:String}     # optional
         Ebs: ${3:Ebs}     # optional
         NoDevice: ${4:String}     # optional
         VirtualName: ${5:String}     # optional
"""