'.source.yaml':
  'listenerrule-fixedresponseconfig':
      'prefix': 'listenerrule-fixedresponseconfig'
      'body':"""
         ContentType: ${2:String}     # optional
         MessageBody: ${3:String}     # optional
         StatusCode: ${4:String}     # required
"""