'.source.yaml':
  'managedpolicy':
      'prefix': 'managedpolicy'
      'body':"""
         ${1:managedpolicy_name}:
         	Type: "AWS::IAM::ManagedPolicy"
         	Properties:
         		Description: ${2:String}     # optional
         		Groups:                # optional, list of String
         			- ${3:String}
         		Path: ${4:String}     # optional
         		PolicyDocument: ${5:Json}     # optional
         		Roles:                # optional, list of String
         			- ${6:String}
         		Users:                # optional, list of String
         			- ${7:String}
"""