'.source.yaml':
  'methodresponse':
      'prefix': 'methodresponse'
      'body':"""
         ResponseModels:                # optional, map of String
         	${2:String_key}: ${3:String_value}
         ResponseParameters:                # optional, map of Boolean
         	${4:Boolean_key}: ${5:Boolean_value}
         StatusCode: ${6:String}     # required
"""