'.source.yaml':
  'microsoftad-vpcsettings':
      'prefix': 'microsoftad-vpcsettings'
      'body':"""
         SubnetIds:                # required, list of String
         	- ${2:String}
         VpcId: ${3:String}     # required
"""