'.source.yaml':
  'microsoftad':
      'prefix': 'microsoftad'
      'body':"""
         ${1:microsoftad_name}:
         	Type: AWS::DirectoryService::MicrosoftAD
         	Properties:
         		CreateAlias: ${2:Boolean}     # optional
         		Edition: ${3:String}     # optional
         		EnableSso: ${4:Boolean}     # optional
         		Name: ${5:String}     # required
         		Password: ${6:String}     # required
         		ShortName: ${7:String}     # optional
         		VpcSettings: ${8:VpcSettings}     # required
"""