'.source.yaml':
  'notificationrule':
      'prefix': 'notificationrule'
      'body':"""
         ${1:notificationrule_name}:
         	Type: AWS::CodeStarNotifications::NotificationRule
         	Properties:
         		DetailType: ${2:String}     # required
         		EventTypeIds:                # required, list of String
         			- ${3:String}
         		Name: ${4:String}     # required
         		Resource: ${5:String}     # required
         		Status: ${6:String}     # optional
         		Tags: ${7:Json}     # optional
         		Targets:                # required, list of Target
         			- ${8:Target}
"""