'.source.yaml':
  'organizationaggregationsource':
      'prefix': 'organizationaggregationsource'
      'body':"""
         AllAwsRegions: ${2:Boolean}     # optional
         AwsRegions:                # optional, list of String
         	- ${3:String}
         RoleArn: ${4:String}     # required
"""