'.source.yaml':
  'passwordpolicy':
      'prefix': 'passwordpolicy'
      'body':"""
         MinimumLength: ${2:Integer}     # optional
         RequireLowercase: ${3:Boolean}     # optional
         RequireNumbers: ${4:Boolean}     # optional
         RequireSymbols: ${5:Boolean}     # optional
         RequireUppercase: ${6:Boolean}     # optional
         TemporaryPasswordValidityDays: ${7:Integer}     # optional
"""