'.source.yaml':
  'placement':
      'prefix': 'placement'
      'body':"""
         Affinity: ${2:String}     # optional
         AvailabilityZone: ${3:String}     # optional
         GroupName: ${4:String}     # optional
         HostId: ${5:String}     # optional
         Tenancy: ${6:String}     # optional
"""