'.source.yaml':
  'project-environment':
      'prefix': 'project-environment'
      'body':"""
         Certificate: ${2:String}     # optional
         ComputeType: ${3:String}     # required
         EnvironmentVariables:                # optional, list of EnvironmentVariable
         	- ${4:EnvironmentVariable}
         Image: ${5:String}     # required
         ImagePullCredentialsType: ${6:String}     # optional
         PrivilegedMode: ${7:Boolean}     # optional
         RegistryCredential: ${8:RegistryCredential}     # optional
         Type: ${9:String}     # required
"""