'.source.yaml':
  'project-environmentvariable':
      'prefix': 'project-environmentvariable'
      'body':"""
         Name: ${2:String}     # required
         Type: ${3:String}     # optional
         Value: ${4:String}     # required
"""