'.source.yaml':
  'provisionedthroughput':
      'prefix': 'provisionedthroughput'
      'body':"""
         ReadCapacityUnits: ${2:Integer}     # required
         WriteCapacityUnits: ${3:Integer}     # required
"""