'.source.yaml':
  'provisionedthroughput':
      'prefix': 'provisionedthroughput'
      'body':"""
         ReadCapacityUnits: ${2:Long}     # required
         WriteCapacityUnits: ${3:Long}     # required
"""