'.source.yaml':
  'queuepolicy':
      'prefix': 'queuepolicy'
      'body':"""
         ${1:queuepolicy_name}:
         	Type: AWS::SQS::QueuePolicy
         	Properties:
         		PolicyDocument: ${2:Json}     # required
         		Queues:                # required, list of String
         			- ${3:String}
"""