'.source.yaml':
  'rds-dbinstance':
    'prefix': 'rds-dbinstance'
    'body': """
${1:dbInstance}:
	Type: AWS::RDS::DBInstance
	Properties:
		AllocatedStorage: ${2:100}
		DBInstanceClass: ${3:r3.large}
		AllowMajorVersionUpgrade: ${4:true}
		AutoMinorVersionUpgrade: ${5:true}
		AvailabilityZone: ${6:az}
		BackupRetentionPeriod: ${7:1}
		CharacterSetName: ${8:utf-8}
		DBInstanceIdentifier: ${9:identifier}
		DBName: ${10:name}
		DBParameterGroupName: ${11:groupName}
		DBSecurityGroups:
			- ${12:groupRef}
		DBSnapshotIdentifier: ${13:snapshotIdentifier}
		DBSubnetGroupName: ${14:groupName}
		Engine: ${15:mysql}
		EngineVersion: ${16:15.6}
		Iops: ${17:2000}
		KmsKeyId: ${18:keyRef}
		LicenseModel: ${19:byol}
		MasterUsername: ${20:master}
		MasterUserPassword: ${21:password}
		MultiAZ: ${22:true}
		OptionGroupName: ${23: groupName}
		Port: ${24:port}
		PreferredBackupWindow: ${25:-}
		PreferredMaintenanceWindow: ${26:0200}
		PubliclyAccessible: ${27:false}
		SourceDBInstanceIdentifier: ${28:none}
		StorageEncrypted: ${29:false}
		StorageType: ${30:gp1}
		Tags:
			- ${31:tag}
		VPCSecurityGroups:
			- ${32:sgRef}
    """
