'.source.yaml':
  'rds-dbsecuritygroupingress':
    'prefix': 'rds-dbsecuritygroupingress'
    'body': """
CIDRIP: ${1:0.0.0.0/0}
DBSecurityGroupName: ${2:groupName}
EC2SecurityGroupId: ${3:groupRef}
EC2SecurityGroupName: ${4:groupName}
EC2SecurityGroupOwnerId: ${5:ownerRef}
    """
