'.source.yaml':
  'recordset':
      'prefix': 'recordset'
      'body':"""
         ${1:recordset_name}:
         	Type: AWS::Route53::RecordSet
         	Properties:
         		AliasTarget: ${2:AliasTarget}     # optional
         		Comment: ${3:String}     # optional
         		Failover: ${4:String}     # optional
         		GeoLocation: ${5:GeoLocation}     # optional
         		HealthCheckId: ${6:String}     # optional
         		HostedZoneId: ${7:String}     # optional
         		HostedZoneName: ${8:String}     # optional
         		MultiValueAnswer: ${9:Boolean}     # optional
         		Name: ${10:String}     # required
         		Region: ${11:String}     # optional
         		ResourceRecords:                # optional, list of String
         			- ${12:String}
         		SetIdentifier: ${13:String}     # optional
         		TTL: ${14:String}     # optional
         		Type: ${15:String}     # required
         		Weight: ${16:Integer}     # optional
"""