'.source.yaml':
  'recordsetgroup-geolocation':
      'prefix': 'recordsetgroup-geolocation'
      'body':"""
         ContinentCode: ${2:String}     # optional
         CountryCode: ${3:String}     # optional
         SubdivisionCode: ${4:String}     # optional
"""