'.source.yaml':
  'redshift-cluster':
      'prefix': 'redshift-cluster'
      'body':"""
         ${1:redshift-cluster_name}:
         	Type: AWS::Redshift::Cluster
         	Properties:
         		AllowVersionUpdate: ${2:Boolean}     # optional
         		AutomatedSnapshotRetentionPeriod: ${3:Integer}     # optional
         		AvailabilityZone: ${4:String}     # optional
         		ClusterParameterGroupName: ${5:Integer}     # optional
         		ClusterSecurityGroups:                # optional, list of String
         			- ${6:String}
         		ClusterSubnetGroupName: ${7:String}     # optional
         		ClusterType: ${8:String}     # required
         		ClusterVersion: ${9:String}     # optional
         		DBName: ${10:String}     # required
         		ElasticIp: ${11:String}     # optional
         		Encrypted: ${12:Boolean}     # optional
         		HsmClientCertificateIdentifier: ${13:String}     # optional
         		KmsKeyId: ${14:String}     # optional
         		MasterUserPassword: ${15:String}     # required
         		MasterUsername: ${16:String}     # required
         		NodeType: ${17:String}     # required
         		NumberOfNodes: ${18:Integer}     # optional
         		OwnerAccount: ${19:String}     # optional
         		Port: ${20:Integer}     # optional
         		PreferredMaintenanceWindow: ${21:String}     # optional
         		PubliclyAccessible: ${22:Boolean}     # optional
         		SnapshotClusterIdentifier: ${23:String}     # optional
         		SnapshotIdentifier: ${24:String}     # optional
         		VpcSecurityGroupIds:                # optional, list of String
         			- ${25:String}
"""