'.source.yaml':
  'redshift-cluster':
      'prefix': 'redshift-cluster'
      'body':"""
         ${1:redshift-cluster_name}:
         	Type: AWS::Redshift::Cluster
         	Properties:
         		AllowVersionUpgrade: ${2:Boolean}     # optional
         		AutomatedSnapshotRetentionPeriod: ${3:Integer}     # optional
         		AvailabilityZone: ${4:String}     # optional
         		ClusterIdentifier: ${5:String}     # optional
         		ClusterParameterGroupName: ${6:String}     # optional
         		ClusterSecurityGroups:                # optional, list of String
         			- ${7:String}
         		ClusterSubnetGroupName: ${8:String}     # optional
         		ClusterType: ${9:String}     # required
         		ClusterVersion: ${10:String}     # optional
         		DBName: ${11:String}     # required
         		ElasticIp: ${12:String}     # optional
         		Encrypted: ${13:Boolean}     # optional
         		HsmClientCertificateIdentifier: ${14:String}     # optional
         		HsmConfigurationIdentifier: ${15:String}     # optional
         		IamRoles:                # optional, list of String
         			- ${16:String}
         		KmsKeyId: ${17:String}     # optional
         		LoggingProperties: ${18:LoggingProperties}     # optional
         		MasterUserPassword: ${19:String}     # required
         		MasterUsername: ${20:String}     # required
         		NodeType: ${21:String}     # required
         		NumberOfNodes: ${22:Integer}     # optional
         		OwnerAccount: ${23:String}     # optional
         		Port: ${24:Integer}     # optional
         		PreferredMaintenanceWindow: ${25:String}     # optional
         		PubliclyAccessible: ${26:Boolean}     # optional
         		SnapshotClusterIdentifier: ${27:String}     # optional
         		SnapshotIdentifier: ${28:String}     # optional
         		Tags:                # optional, list of Tag
         			- ${29:Tag}
         		VpcSecurityGroupIds:                # optional, list of String
         			- ${30:String}
"""