'.source.yaml':
  'replicationgroup':
      'prefix': 'replicationgroup'
      'body':"""
         ${1:replicationgroup_name}:
         	Type: AWS::ElastiCache::ReplicationGroup
         	Properties:
         		AtRestEncryptionEnabled: ${2:Boolean}     # optional
         		AuthToken: ${3:String}     # optional
         		AutoMinorVersionUpgrade: ${4:Boolean}     # optional
         		AutomaticFailoverEnabled: ${5:Boolean}     # optional
         		CacheNodeType: ${6:String}     # optional
         		CacheParameterGroupName: ${7:String}     # optional
         		CacheSecurityGroupNames:                # optional, list of String
         			- ${8:String}
         		CacheSubnetGroupName: ${9:String}     # optional
         		Engine: ${10:String}     # optional
         		EngineVersion: ${11:String}     # optional
         		NodeGroupConfiguration:                # optional, list of NodeGroupConfiguration
         			- ${12:NodeGroupConfiguration}
         		NotificationTopicArn: ${13:String}     # optional
         		NumCacheClusters: ${14:Integer}     # optional
         		NumNodeGroups: ${15:Integer}     # optional
         		Port: ${16:Integer}     # optional
         		PreferredCacheClusterAZs:                # optional, list of String
         			- ${17:String}
         		PreferredMaintenanceWindow: ${18:String}     # optional
         		PrimaryClusterId: ${19:String}     # optional
         		ReplicasPerNodeGroup: ${20:Integer}     # optional
         		ReplicationGroupDescription: ${21:String}     # required
         		ReplicationGroupId: ${22:String}     # optional
         		SecurityGroupIds:                # optional, list of String
         			- ${23:String}
         		SnapshotArns:                # optional, list of String
         			- ${24:String}
         		SnapshotName: ${25:String}     # optional
         		SnapshotRetentionLimit: ${26:Integer}     # optional
         		SnapshotWindow: ${27:String}     # optional
         		SnapshottingClusterId: ${28:String}     # optional
         		Tags:                # optional, list of Tag
         			- ${29:Tag}
         		TransitEncryptionEnabled: ${30:Boolean}     # optional
"""