'.source.yaml':
  'replicationtask':
      'prefix': 'replicationtask'
      'body':"""
         ${1:replicationtask_name}:
         	Type: AWS::DMS::ReplicationTask
         	Properties:
         		CdcStartPosition: ${2:String}     # optional
         		CdcStartTime: ${3:Double}     # optional
         		CdcStopPosition: ${4:String}     # optional
         		MigrationType: ${5:String}     # required
         		ReplicationInstanceArn: ${6:String}     # required
         		ReplicationTaskIdentifier: ${7:String}     # optional
         		ReplicationTaskSettings: ${8:String}     # optional
         		SourceEndpointArn: ${9:String}     # required
         		TableMappings: ${10:String}     # required
         		Tags:                # optional, list of Tag
         			- ${11:Tag}
         		TargetEndpointArn: ${12:String}     # required
"""