'.source.yaml':
  'replicationgroup':
      'prefix': 'replicationgroup'
      'body':"""
         ${1:replicationgroup_name}:
         	Type: "AWS::ElastiCache::ReplicationGroup"
         	Properties:
         		AutoMinorVersionUpgrade: ${2:Boolean}     # optional
         		AutomaticFailoverEnabled: ${3:Boolean}     # optional
         		CacheNodeType: ${4:String}     # optional
         		CacheParameterGroupName: ${5:String}     # optional
         		CacheSecurityGroupNames:                # optional, list of String
         			- ${6:String}
         		CacheSubnetGroupName: ${7:String}     # optional
         		Engine: ${8:String}     # optional
         		EngineVersion: ${9:String}     # optional
         		NodeGroupConfiguration:                # optional, list of NodeGroupConfiguration
         			- ${10:NodeGroupConfiguration}
         		NotificationTopicArn: ${11:String}     # optional
         		NumCacheClusters: ${12:Integer}     # optional
         		NumNodeGroups: ${13:Integer}     # optional
         		Port: ${14:Integer}     # optional
         		PreferredCacheClusterAZs:                # optional, list of String
         			- ${15:String}
         		PreferredMaintenanceWindow: ${16:String}     # optional
         		PrimaryClusterId: ${17:String}     # optional
         		ReplicasPerNodeGroup: ${18:Integer}     # optional
         		ReplicationGroupDescription: ${19:String}     # required
         		ReplicationGroupId: ${20:String}     # optional
         		SecurityGroupIds:                # optional, list of String
         			- ${21:String}
         		SnapshotArns:                # optional, list of String
         			- ${22:String}
         		SnapshotName: ${23:String}     # optional
         		SnapshotRetentionLimit: ${24:Integer}     # optional
         		SnapshotWindow: ${25:String}     # optional
         		SnapshottingClusterId: ${26:String}     # optional
         		Tags:                # optional, list of Tag
         			- ${27:Tag}
"""