'.source.yaml':
  'replicationrule':
      'prefix': 'replicationrule'
      'body':"""
         Destination: ${2:ReplicationDestination}     # required
         Id: ${3:String}     # optional
         Prefix: ${4:String}     # required
         SourceSelectionCriteria: ${5:SourceSelectionCriteria}     # optional
         Status: ${6:String}     # required
"""