'.source.yaml':
  'rolemapping':
      'prefix': 'rolemapping'
      'body':"""
         AmbiguousRoleResolution: ${2:String}     # optional
         RulesConfiguration: ${3:RulesConfigurationType}     # optional
         Type: ${4:String}     # required
"""