'.source.yaml':
  'route':
      'prefix': 'route'
      'body':"""
         ${1:route_name}:
         	Type: AWS::EC2::Route
         	Properties:
         		DestinationCidrBlock: ${2:String}     # optional
         		DestinationIpv6CidrBlock: ${3:String}     # optional
         		GatewayId: ${4:String}     # optional
         		InstanceId: ${5:String}     # optional
         		NatGatewayId: ${6:String}     # optional
         		NetworkInterfaceId: ${7:String}     # optional
         		RouteTableId: ${8:String}     # required
         		VpcPeeringConnectionId: ${9:String}     # optional
"""