'.source.yaml':
  'route53-recordset-group':
    'prefix': 'route53-recordsetgroup'
    'body': """
${1:group}:
	Type: AWS::Route53::RecordSetGroup
	Properties:
		HostedZoneId: ${2:zoneRef}
		HostedZoneName: ${3:name}
		RecordSets:
			- ${4:recordset}
		Comment: ${5:comment}
    """
