'.source.yaml':
  'rulegroup-geomatchstatement':
      'prefix': 'rulegroup-geomatchstatement'
      'body':"""
         CountryCodes:                # optional, list of String
         	- ${2:String}
"""