'.source.yaml':
  'rule-target':
      'prefix': 'rule-target'
      'body':"""
         Arn: ${2:String}     # required
         BatchParameters: ${3:BatchParameters}     # optional
         EcsParameters: ${4:EcsParameters}     # optional
         Id: ${5:String}     # required
         Input: ${6:String}     # optional
         InputPath: ${7:String}     # optional
         InputTransformer: ${8:InputTransformer}     # optional
         KinesisParameters: ${9:KinesisParameters}     # optional
         RoleArn: ${10:String}     # optional
         RunCommandParameters: ${11:RunCommandParameters}     # optional
         SqsParameters: ${12:SqsParameters}     # optional
"""