'.source.yaml':
  's3-bucketpolicy':
    'prefix': 's3-bucketpolicy'
    'body': """
	${1:bucketPolicy}:
		Type: AWS::S3::BucketPolicy
		Properites:
			Bucket: ${2:bucketRef}
			PolicyDocument: ${3:document}
    """
