'.source.yaml':
  'scalingplan-metricdimension':
      'prefix': 'scalingplan-metricdimension'
      'body':"""
         Name: ${2:String}     # required
         Value: ${3:String}     # required
"""