'.source.yaml':
  'securitygroup-ingress':
      'prefix': 'securitygroup-ingress'
      'body':"""
         CidrIp: ${2:String}     # optional
         CidrIpv6: ${3:String}     # optional
         Description: ${4:String}     # optional
         FromPort: ${5:Integer}     # optional
         IpProtocol: ${6:String}     # required
         SourcePrefixListId: ${7:String}     # optional
         SourceSecurityGroupId: ${8:String}     # optional
         SourceSecurityGroupName: ${9:String}     # optional
         SourceSecurityGroupOwnerId: ${10:String}     # optional
         ToPort: ${11:Integer}     # optional
"""