'.source.yaml':
  'sns-topicpolicy':
    'prefix': 'sns-topicpolicy'
    'body': """
	${1:topicPolicy}:
		Type: AWS::SNS::TopicPolicy
		Properties:
			PolicyDocument: ${2:document}
			Topics:
				- ${3:topicRef}
    """
