'.source.yaml':
  'sourcecredential':
      'prefix': 'sourcecredential'
      'body':"""
         ${1:sourcecredential_name}:
         	Type: AWS::CodeBuild::SourceCredential
         	Properties:
         		AuthType: ${2:String}     # required
         		ServerType: ${3:String}     # required
         		Token: ${4:String}     # required
         		Username: ${5:String}     # optional
"""