'.source.yaml':
  'spotfleet-blockdevicemapping':
      'prefix': 'spotfleet-blockdevicemapping'
      'body':"""
         DeviceName: ${2:String}     # required
         Ebs: ${3:EbsBlockDevice}     # optional
         NoDevice: ${4:String}     # optional
         VirtualName: ${5:String}     # optional
"""