'.source.yaml':
  'spotfleet':
      'prefix': 'spotfleet'
      'body':"""
         ${1:spotfleet_name}:
         	Type: AWS::EC2::SpotFleet
         	Properties:
         		SpotFleetRequestConfigData: ${2:SpotFleetRequestConfigData}     # required
"""