'.source.yaml':
  'subscription':
      'prefix': 'subscription'
      'body':"""
         ${1:subscription_name}:
         	Type: AWS::SNS::Subscription
         	Properties:
         		DeliveryPolicy: ${2:Json}     # optional
         		Endpoint: ${3:String}     # optional
         		FilterPolicy: ${4:Json}     # optional
         		Protocol: ${5:String}     # required
         		RawMessageDelivery: ${6:Boolean}     # optional
         		RedrivePolicy: ${7:Json}     # optional
         		Region: ${8:String}     # optional
         		TopicArn: ${9:String}     # required
"""