'.source.yaml':
  'subscriptiondefinition-subscription':
      'prefix': 'subscriptiondefinition-subscription'
      'body':"""
         Id: ${2:String}     # required
         Source: ${3:String}     # required
         Subject: ${4:String}     # required
         Target: ${5:String}     # required
"""