'.source.yaml':
  'table':
      'prefix': 'table'
      'body':"""
         ${1:table_name}:
         	Type: AWS::DynamoDB::Table
         	Properties:
         		AttributeDefinitions:                # required, list of AttributeDefinition
         			- ${2:AttributeDefinition}
         		GlobalSecondaryIndexes:                # optional, list of GlobalSecondaryIndex
         			- ${3:GlobalSecondaryIndex}
         		KeySchema:                # required, list of KeySchema
         			- ${4:KeySchema}
         		LocalSecondaryIndexes:                # optional, list of LocalSecondaryIndex
         			- ${5:LocalSecondaryIndex}
         		ProvisionedThroughput: ${6:ProvisionedThroughput}     # required
         		StreamSpecification: ${7:StreamSpecification}     # optional
         		TableName: ${8:String}     # optional
"""