'.source.yaml':
  'targetgroup':
      'prefix': 'targetgroup'
      'body':"""
         ${1:targetgroup_name}:
         	Type: AWS::ElasticLoadBalancingV2::TargetGroup
         	Properties:
         		HealthCheckEnabled: ${2:Boolean}     # optional
         		HealthCheckIntervalSeconds: ${3:Integer}     # optional
         		HealthCheckPath: ${4:String}     # optional
         		HealthCheckPort: ${5:String}     # optional
         		HealthCheckProtocol: ${6:String}     # optional
         		HealthCheckTimeoutSeconds: ${7:Integer}     # optional
         		HealthyThresholdCount: ${8:Integer}     # optional
         		Matcher: ${9:Matcher}     # optional
         		Name: ${10:String}     # optional
         		Port: ${11:Integer}     # optional
         		Protocol: ${12:String}     # optional
         		Tags:                # optional, list of Tag
         			- ${13:Tag}
         		TargetGroupAttributes:                # optional, list of TargetGroupAttribute
         			- ${14:TargetGroupAttribute}
         		TargetType: ${15:String}     # optional
         		Targets:                # optional, list of TargetDescription
         			- ${16:TargetDescription}
         		UnhealthyThresholdCount: ${17:Integer}     # optional
         		VpcId: ${18:String}     # optional
"""