'.source.yaml':
  'taskdefinition-resourcerequirement':
      'prefix': 'taskdefinition-resourcerequirement'
      'body':"""
         Type: ${2:String}     # required
         Value: ${3:String}     # required
"""