'.source.yaml':
  'taskdefinitionplacementconstraint':
      'prefix': 'taskdefinitionplacementconstraint'
      'body':"""
         Expression: ${2:String}     # optional
         Type: ${3:String}     # required
"""