'.source.yaml':
  'user':
      'prefix': 'user'
      'body':"""
         ConsoleAccess: ${2:Boolean}     # optional
         Groups:                # optional, list of String
         	- ${3:String}
         Password: ${4:String}     # required
         Username: ${5:String}     # required
"""