'.source.yaml':
  'virtualrouterspec':
      'prefix': 'virtualrouterspec'
      'body':"""
         Listeners:                # required, list of VirtualRouterListener
         	- ${2:VirtualRouterListener}
"""