'.source.yaml':
  'vpc':
    'prefix': 'vpc'
    'body': """
	${1:vpcName}:
		Type: "AWS::EC2::VPC"
		Properties:
			CidrBlock: ${2:0.0.0.0/0}
			EnableDnsSupport: '${3:false}'
			EnableDnsHostnames: '${4:false}'
			InstanceTenancy: ${5:dedicated}
			Tags:

    """
