'.source.yaml':
  'vpccidrblock':
      'prefix': 'vpccidrblock'
      'body':"""
         ${1:vpccidrblock_name}:
         	Type: AWS::EC2::VPCCidrBlock
         	Properties:
         		AmazonProvidedIpv6CidrBlock: ${2:Boolean}     # optional
         		CidrBlock: ${3:String}     # optional
         		VpcId: ${4:String}     # required
"""