'.source.yaml':
  'webaclassociation':
      'prefix': 'webaclassociation'
      'body':"""
         ${1:webaclassociation_name}:
         	Type: AWS::WAFRegional::WebACLAssociation
         	Properties:
         		ResourceArn: ${2:String}     # required
         		WebACLId: ${3:String}     # required
"""