'.source.yaml':
  'workspace':
      'prefix': 'workspace'
      'body':"""
         ${1:workspace_name}:
         	Type: AWS::WorkSpaces::Workspace
         	Properties:
         		BundleId: ${2:String}     # required
         		DirectoryId: ${3:String}     # required
         		RootVolumeEncryptionEnabled: ${4:Boolean}     # optional
         		Tags:                # optional, list of Tag
         			- ${5:Tag}
         		UserName: ${6:String}     # required
         		UserVolumeEncryptionEnabled: ${7:Boolean}     # optional
         		VolumeEncryptionKey: ${8:String}     # optional
         		WorkspaceProperties: ${9:WorkspaceProperties}     # optional
"""